@model RandomRestaraunt.Data.Models.Restaraunt

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Name</h2>
@if (Model.Image != null)
{
    <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" style="width: 100%;" />
}
else
{
    <img src="@Model.ImageUrl" style="width: 100%;" />
}

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ImageUrl" />
    <input type="hidden" asp-for="UsedLast" />
    <input type="hidden" asp-for="Name" />
    <div class="form-group">
        <label class="control-label">Upload new Image</label>
        <input class="form-control" type="file" name="image" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</form>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
